<launch>
    <node name="rosserial" pkg="rosserial_python" type="serial_node.py" output="screen">
      <param name="port" value="/dev/ttyUSB0"/>
      <param name="baud" value="57600"/>
    </node>

    <include file="$(find cleaning_robot_description)/launch/display.launch"/>

    <node name="pid_control" pkg="cleaning_robot_hardware" type="pid_control.py"/>

    <node name="odometry" pkg="cleaning_robot_hardware" type="odometry.py"/>
    
    <node name="transform" pkg="cleaning_robot_hardware" type="transform.py"/>
    
    <include file="$(find ydlidar_ros_driver)/launch/X4.launch"/>

</launch>